body {
    background-color: burlywood;
}
h1 {
    color: blueviolet;
    text-align: center;
    margin-top: 250px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    color: blueviolet;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}